
<h2>Create a Pirate... arrrr!</h2>
<form action="/pirates" method="POST" >
  <label for="title_field"></label>
  <input type="text"name="pirate[name]" placeholder='Name'>
  <input type="text" name="pirate[weight]" placeholder='Weight'>
  <input type="text" name="pirate[height]" placeholder='Height'>
  <h3>Ship 1</h3>
  <input id="ship_name_1" type="text" name="pirate[ships][][name]" placeholder='Ship 1 Name'>
  <input id="ship_type_1" type="text" name="pirate[ships][][type]" placeholder='Ship 1 Type'>
  <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" placeholder='Ship 1 Booty'>
  <h3>Ship 2</h3>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]" placeholder='Ship 2 Name'>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]" placeholder='Ship 2 Type'>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" placeholder='Ship 2 Booty'>
  <input id="Submit" type="submit" value='Create Pirate & Ships!'>
</form>
